echo SECRET_KEY=tu-clave-secreta-aqui > .env.example
echo DEBUG=True >> .env.example
echo ALLOWED_HOSTS=localhost,127.0.0.1 >> .env.example
echo DATABASE_URL=sqlite:///db.sqlite3 >> .env.example
echo EMAIL_HOST_USER=melanygaritauu1276@gmail.com >> .env.example
echo EMAIL_HOST_PASSWORD=ntmnvxkvwwhhgaap >> .env.example