SECRET_KEY=tu-clave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3
EMAIL_HOST_USER=cuaderno.melanygr@gmail.com

SENDGRID_API_KEY=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

#base para ajustar segun tu informacion
#SECRET_KEY=changeme
#DEBUG=True
#ALLOWED_HOSTS=localhost,127.0.0.1
#DATABASE_URL=sqlite:///db.sqlite3
#EMAIL_HOST_USER=example@example.com
#SENDGRID_API_KEY=SG.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
